@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230, 21.4%, 5.5%;
    --background400: 231.4, 17.1%, 8%;
    --foreground: 0, 0%, 100%;
    --primary: 0, 0%, 0%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 0, 0%, 0%;
    --secondary-foreground: 0, 0%, 100%;
    --neutral: 0, 0%, 56.1%;
    --neutral-foreground: 0, 0%, 100%;
  }
}
